/* CsvEditor */
table.csv {
  border-collapse: collapse;
}
table.csv,
table.csv td {
  border: solid 1px var(--background-modifier-border);
}

table.csv td {
  padding: 4px 8px;
}
table.csv input {
  background: none;
  border: none;
}
table.csv button {
  border: solid 1px var(--background-modifier-border);
  border-radius: .5rem;
  padding: .5em 1rem;
  background: var(--color-accent);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: opacity 0.3s ease-in-out;
}
table.csv button:hover {
  opacity: .75;
}

/* KeyValuePairEditor */
.kvp-view {
  position: relative;
  display: block;
  margin-top: 2rem; /* shift down for toolbar */
}
.kvp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem 0.5rem;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

  border-left: solid 3px transparent;
  border-radius: 0.5rem;

  overflow: hidden;
}
.kvp.markdown { line-height: 1; }

.kvp.updated { border-left-color: var(--text-highlight-bg); }
.kvp.new { border-left-color: var(--text-success); }

.kvp .key {
  position: relative;
  grid-column: 1;
  cursor: pointer;
}
.kvp .key .inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.kvp .key .label {
  font-weight: var(--bold-weight);
  color: var(--color-accent-2);
  font-size: var(--font-ui-large);
}
.kvp .key .icon {
  display: inline-block;
  margin-left: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.kvp .key .icon svg {
  fill: var(--color-accent-2);
  width: 1rem;
  height: 1rem;
}
.kvp.collapsed .key .icon {
  transform: rotate(180deg) translateY(0);
}
.kvp.open .key .icon {
  transform: rotate(0) translateY(0.25rem);
}
.kvp .value {
  position: relative;
  grid-column: span 3 / span 3;
  white-space: pre;
  background: var(--background-secondary);
  padding: 5px;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}
.kvp.open .value { 
  opacity: 1; 
}
.kvp.collapsed .value { 
  height: 1rem;
  opacity: 0.4; 
}
.kvp.collapsed .value::after { 
  position: absolute;
  bottom: 0; right: 2rem;
  content: '...';
  font-size: 1.2rem;
  font-weight: bold;
}
.kvp .value p,
.kvp .value blockquote,
.kvp .value ul,
.kvp .value ol {
  margin-top: 0; margin-bottom: 0;
}

.kvp:hover {
  background: rgba(255,255,255, 0.1);
}
.kvp:hover .value {
  background: transparent;
}

.kvp .updated::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "*";
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-highlight-bg);
}
.kvp .updated {
  padding-right: 0.5rem;
}


/* kvp toolbar */
.kvp-toolbar {
  position: fixed;
  top: 2.3rem; left: 0;
  width: 100%;
  padding: 0.3rem 1rem;
  background-color: var(--background-primary-alt);
  border-bottom: solid 2px var(--background-modifier-border);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.kvp-toolbar .zone.left { justify-content: left; }
.kvp-toolbar .zone.center { justify-content: center; }
.kvp-toolbar .zone.right { justify-content: right; }


/* --- Menu Group --- */
nav.menu-group {
  display: flex;
  align-items: center;
}


/* --- BtnComponent (.btn) --- */

button.btn {
  display: inline-flex;
  align-items: center;

  outline: none;
  border: none; /* solid 1px rgba(var(--callout-quote), var(--callout-border-opacity)); */
  border-radius: var(--callout-radius);
  mix-blend-mode: var(--callout-blend-mode);
  background-color: rgba(var(--callout-quote), 0.1);
  color: rgb(var(--callout-quote));
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  font-size: .7rem;
  line-height: 1.2; 
  margin: 0 0.2rem; 
}
button.btn:hover {
  border-color: rgba(var(--callout-quote), 1);
  background-color: rgba(var(--callout-quote), 0.2);
}

/* svg icon */
button.btn svg {
  width: .7rem;
  height: .7rem;
  fill: rgb(var(--callout-quote));  
}
button.btn .icon {
  display: inline-block;
}
button.btn .icon.rm {
  margin-right: 0.2rem;
}

/* style (colors) based Obsidian callout */
button.btn.btn-cyan {
  border-color: rgba(var(--callout-tip), var(--callout-border-opacity));
  background-color: rgba(var(--callout-tip), 0.1);
  color: rgb(var(--callout-tip));
}
button.btn.btn-cyan svg { fill: rgb(var(--callout-tip)); }
button.btn.btn-cyan:hover {
  border-color: rgba(var(--callout-tip), 1);
  background-color: rgba(var(--callout-tip), 0.2);
}
button.btn.btn-blue {
  border-color: rgba(var(--callout-info), var(--callout-border-opacity));
  background-color: rgba(var(--callout-info), 0.1);
  color: rgb(var(--callout-info));
}
button.btn.btn-blue svg { fill: rgb(var(--callout-info)); }
button.btn.btn-blue:hover {
  border-color: rgba(var(--callout-info), 1);
  background-color: rgba(var(--callout-info), 0.2);
}
button.btn.btn-green {
  border-color: rgba(var(--callout-success), var(--callout-border-opacity));
  background-color: rgba(var(--callout-success), 0.1);
  color: rgb(var(--callout-success));
}
button.btn.btn-green svg { fill: var(--callout-success); }
button.btn.btn-green:hover {
  border-color: rgba(var(--callout-success), 1);
  background-color: rgba(var(--callout-success), 0.2);
}
button.btn.btn-yellow {
  border-color: rgba(var(--callout-question), var(--callout-border-opacity));
  background-color: rgba(var(--callout-question), 0.1);
  color: rgb(var(--callout-question));
}
button.btn.btn-yellow svg { fill: rgb(var(--callout-question)); }
button.btn.btn-yellow:hover {
  border-color: rgba(var(--callout-question), 1);
  background-color: rgba(var(--callout-question), 0.2);
}
button.btn.btn-orange {
  border-color: rgba(var(--callout-warning), var(--callout-border-opacity));
  background-color: rgba(var(--callout-warning), 0.1);
  color: rgb(var(--callout-warning));
}
button.btn.btn-orange svg { fill: rgb(var(--callout-warning)); }
button.btn.btn-orange:hover {
  border-color: rgba(var(--callout-warning), 1);
  background-color: rgba(var(--callout-warning), 0.2);
}
button.btn.btn-red {
  border-color: rgba(var(--callout-danger), var(--callout-border-opacity));
  background-color: rgba(var(--callout-danger), 0.1);
  color: rgb(var(--callout-danger));
}
button.btn.btn-red svg { fill: rgb(var(--callout-danger)); }
button.btn.btn-red:hover {
  border-color: rgba(var(--callout-danger), 1);
  background-color: rgba(var(--callout-danger), 0.2);
}
button.btn.btn-purple {
  border-color: rgba(var(--callout-example), var(--callout-border-opacity));
  background-color: rgba(var(--callout-example), 0.1);
  color: rgb(var(--callout-example));
}
button.btn.btn-purple { fill: rgb(var(--callout-example));}
button.btn.btn-purple:hover {
  border-color: rgba(var(--callout-example), 1);
  background-color: rgba(var(--callout-example), 0.2);
}




/* KVP Modal */
.kvp-modal .modal-content h3 {
  margin: 0 0 0.5rem 0;
  color: var(--text-accent);
}