/* CsvEditor */
table.csv {
  border-collapse: collapse;
}
table.csv,
table.csv td {
  border: solid 1px var(--background-modifier-border);
}

table.csv td {
  padding: 4px 8px;
}
table.csv input {
  background: none;
  border: none;
}
table.csv button {
  border: solid 1px var(--background-modifier-border);
  border-radius: .5rem;
  padding: .5em 1rem;
  background: var(--color-accent);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: opacity 0.3 ease-in-out;
}
table.csv button:hover {
  opacity: .75;
}

/* KeyValuePairEditor */
.kvp-view {
  display: block;
}
.kvp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem 0.5rem;
  cursor: pointer;
  transition: all .3 cubic-bezier(0.075, 0.82, 0.165, 1);
}

.kvp .key {
  grid-column: 1;
  font-weight: var(--bold-weight);
  color: var(--color-accent-2);
  text-align: right;
  font-size: var(--font-ui-large);
}
.kvp .value {
  grid-column: span 3 / span 3;
  white-space: pre;
  background: var(--background-secondary);
  padding: 5px;
  border-radius: 3px;
  transition: all .3 cubic-bezier(0.075, 0.82, 0.165, 1);
}

.kvp:hover {
  background: rgba(255,255,255, 0.1);
}
.kvp:hover .value {
  background: transparent;
}